.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__content {
  max-width: 430px;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0 0 22px;
  font-size: 24px;
  line-height: 28.13px;
  cursor: default;
  font-weight: 500;
  font-family: "Roboto-900";
}

.modal__close {
  background-image: url("../../assets/closebutton.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 2px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 34px 36px 28px;
  border-radius: 16px;
  box-sizing: border-box;
  width: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  font-family: "Inter-400";
  font-size: 12px;
  line-height: 14.52px;
  color: rgba(47, 113, 229, 1);
}

.modal__legend {
  font-size: 16px;
  line-height: 20px;
  cursor: default;
  padding-bottom: 4px;
}

.modal__input:first-child {
  margin-bottom: 31px;
}

.modal__input {
  display: block;
  border-bottom: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  padding: 0 0 10px 0;
  max-width: 440px;
  margin-top: 8px;
  margin-bottom: 0px;
  font-family: "Inter-400";
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  line-height: 16.94px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__radio-input {
  margin: 8px 8px 0 0;
  cursor: pointer;
}

.modal__radio-input + span {
  opacity: 0.5;
}

.modal__radio-input:checked + span {
  opacity: 1;
}

.modal__submit {
  width: 358px;
  height: 64px;
  border-radius: 100px;
  border: none;
  background-color: #000000;
  color: white;
  margin-top: 39px;
  cursor: pointer;
}

.modal__submit:hover {
  background: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background: rgba(230, 232, 235, 1);
  cursor: not-allowed;
}

.modal__input-error {
  color: red;
  font-size: 12px;
  opacity: 0;
  max-width: 350px;
  max-height: 0px;
}

.modal__error_visible {
  opacity: 1;
}
