.header {
  display: flex;
  align-items: center;
  border-color: white;
  border-bottom: 1px white solid;
}

.header__logo {
  margin: 30px 0 26px 104px;
  cursor: pointer;
}

.header__right {
  margin-left: auto;
  display: flex;
  gap: 42px;
}

.header__right:last-child {
  margin-right: 104px;
}

.header__text-btn {
  border: 1px solid white;
  border-radius: 100px;
  width: 176px;
  height: 48px;
  background-color: transparent;
  margin-top: 19px;
  margin-bottom: 13px;
  color: white;
  font-family: "Roboto-500";
  cursor: pointer;
}

.header__text-btn-home {
  border: none;
  width: 55px;
  border-radius: 0;
}

.header__text-btn-articles {
  border: none;
  border-radius: 0;
  width: 114px;
}

.header__text-btn-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__logout {
  width: 24px;
}
