.header {
  display: flex;
  align-items: center;
  border-color: white;
  border-bottom: 1px white solid;
  margin: 0;
  max-width: 100%;
  max-height: 80px;
}

.header__logo {
  margin: 30px 0 26px 30px;
  padding: 0;
  cursor: pointer;
}

.header__nav {
  margin-left: auto;
  margin-right: 104px;
  display: flex;
  align-items: center;
  gap: 42px;
}

.header__text-btn {
  border: 1px solid white;
  border-radius: 100px;
  width: 176px;
  height: 48px;
  background-color: transparent;
  margin-top: 19px;
  margin-bottom: 13px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.header__text-btn-home {
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
  height: 74px;
  border-radius: 0;
}

.header__text-btn-articles {
  border: none;
  border-radius: 0;
  width: 114px;
}

.header__text-btn-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__username-link {
  color: white;
  text-decoration: none;
}

.header__logout {
  width: 24px;
}

.header__mobile-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  display: none;
}
.header__mobile-bar {
  width: 16px;
  height: 2px;
  background-color: white;
}

/* Header Dark Text for Saved Articles Page */
.header-dark {
  border-color: rgba(26, 27, 34, 1);
  border-bottom: 1px rgba(26, 27, 34, 1) solid;
}
.header__text-btn-dark {
  border: none;
  border: 1px solid rgba(26, 27, 34, 1);
  color: rgba(26, 27, 34, 1);
}
.header__text-btn-home-dark {
  border: none;
}
.header__text-btn-articles-dark {
  border: none;
  border-bottom: 2px solid rgba(26, 27, 34, 1);
  width: 125px;
  height: 74px;
  border-radius: 0;
}
.header__username-link-dark {
  color: rgba(26, 27, 34, 1);
  text-decoration: none;
}
.header__mobile-menu-dark {
  width: 16px;
  height: 2px;
  margin: 0;
  border: none;
  padding: 0;
  position: absolute;
  gap: 4px;
  top: 24px;
  left: 280px;
  display: none;
  background-color: black;
}

.header__mobile-bar-dark {
  width: 16px;
  height: 2px;
  background-color: black;
}

@media screen and (max-width: 575px) {
  .header {
    max-width: 100%;
    height: 56px;
    align-items: normal;
    margin: 0;
  }
  .header__logo {
    margin: 16px 0 16px 16px;
    max-width: 117px;
    height: 24px;
  }
  .header__nav {
    display: none;
  }
  .header__mobile-menu {
    display: flex;
    flex-direction: column;
  }
  .header__mobile-menu-dark {
    display: block;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .header__nav {
    margin-right: 20px;
    justify-content: end;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
  .header__nav {
    margin-right: 40px;
    justify-content: end;
    gap: 42px;
  }
}
