.header {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-left: 104px;
  margin-top: 30px;
}

.header__right {
  margin-left: auto;
}

.header__text-btn {
  border: 1px blue;
  border-radius: 100px;
  width: 176px;
  height: 48px;
  background-color: transparent;
  margin-top: 19px;
  color: white;
  font-family: "Roboto-500";
}
